.about-us {
  padding: 120px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 159px;
}

.about-us__header-wrapper {
  max-width: 35%;

  h2 {
    @include text-h2;
    padding-bottom: 30px;
  }

  p {
    @include text-big;
  }
}

.about-us__wrapper {
  max-width: 40%;

  h3 {
    @include text-h3;
    padding-bottom: 40px;
  }

  p {
    @include text-regular;
    padding-bottom: 40px;
  }
}

.about-us__btn {
  margin-bottom: 60px;
}

.about-us__advantages {
  margin: 0;
  width: 100%;
}

@include vp-1199 {
  .about-us {
    padding: 100px 45px;
    flex-direction: column;
    gap: 0;
    row-gap: 40px;
  }

  .about-us__header-wrapper {
    max-width: none;
    width: 100%;
  }

  .about-us__wrapper {
    max-width: none;
    width: 100%;
  }
}

@include vp-767 {
  .about-us {
    padding: 67px 15px;
    row-gap: 30px;
  }

  .about-us h2 {
    padding-bottom: 15px;
  }

  .about-us h3 {
    padding-bottom: 20px;
  }

  .about-us__wrapper p {
    padding-bottom: 30px;
  }

  .about-us__btn {
    margin-bottom: 0;
  }
}
