.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $color-cerulean-blue;
  border-radius: 20px;
  padding: 70px 106px;
  column-gap: 52px;
  row-gap: 54px;

}

.advantages-list__item {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
  padding: 30px 60px;
  border: 1px solid $color-alabaster;
  border-radius: 16px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    background-image: url('../img/stack.svg#star-white');
    background-color: $color-cerulean-blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    padding: 10px;
  }

  dt {
    @include text-regular--white;
    text-transform: uppercase;
    max-width: 171px
  }

  dd {
    @include text-small--white;
    max-width: 190px;
  }
}

@include vp-1199 {
  .advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $color-cerulean-blue;
    padding: 40px;
    column-gap: 30px;
    row-gap: 42px;
  }

  .advantages-list__item {
    flex-direction: column;
    gap: 0;
    row-gap: 12px;
    align-items: flex-start;
    padding: 30px;
    border: 1px solid $color-alabaster;
  }
}

@include vp-767 {
  .advantages-list {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 22px;
    padding: 20px 20px 40px;
  }
}
