.btn {
  display: block;
  position: relative;
  padding: 20px 68px 20px 30px;

  font-family: $font-medium;
  color: $color-cerulean-blue;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  font-size: 14px;
  line-height: 14px;

  background-color: transparent;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    background-color: $color-cerulean-blue;
    background-image: url("../img/stack.svg#arrow-white");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-cerulean-blue;
    color: $color-default-white;
  }

  &:active {
    background-color: $color-cerulean-blue;
    color: $color-default-white--transition;
  }

  &:disabled {
    border: 1px solid $color-mischka;
    color: $color-mischka;
  }

  &:hover::before,
  &:focus-visible::before {
    background-image: url("../img/stack.svg#arrow-blue");
    background-color: $color-default-white;
    transform: rotate(45deg);
    top: 4px;
    right: 4px;
  }

  &:active::before {
    background-image: url("../img/stack.svg#arrow-blue");
    background-color: $color-default-white;
    transform: rotate(45deg);
    top: 4px;
    right: 4px;
  }
}

.btn--dark {
  display: block;
  position: relative;
  padding: 20px 68px 20px 30px;

  font-family: $font-medium;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  font-size: 14px;
  line-height: 14px;

  background-color: $color-cerulean-blue;
  border: 1px solid $color-default-white;
  border-radius: 30px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    background-color: $color-default-white;
    background-image: url("../img/stack.svg#arrow-blue");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-default-white;
    color: $color-cerulean-blue;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-cerulean-blue--transition;
  }

  &:disabled {
    border: 1px solid $color-mischka;
    color: $color-mischka;
  }

  &:hover::before,
  &:focus-visible::before {
    background-image: url("../img/stack.svg#arrow-white");
    background-color: $color-cerulean-blue;
    transform: rotate(45deg);
    top: 4px;
    right: 4px;
  }

  &:active::before {
    background-image: url("../img/stack.svg#arrow-white");
    background-color: $color-cerulean-blue;
    transform: rotate(45deg);
    top: 4px;
    right: 4px;
  }
}

@include vp-767 {
  .btn {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}
