.contacts {
  background-color: $color-cerulean-blue;
  padding: 120px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  h2 {
    @include text-h2--white;
    max-width: 50%;
  }
}

.contacts__list {
  margin: 0 0 40px;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 51px;

  dt {
    font-family: $font-regular;
    color: $color-alabaster;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    padding-bottom: 24px;
    opacity: 0.8;
  }

  dd {
    @include text-regular--white;
  }

  a {
    @include text-regular--white;
  }
}

.contacts__item {
  width: fit-content;
  max-width: 268px;
}

.contacts__map {
  width: 100%;
  margin: 40px auto 0;
  position: relative;
  border-radius: 16px;

  &::before {
    position: absolute;
    content: "";
    top: -40px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.2;
    background-color: $color-default-white;
  }

  iframe {
    border-radius: 16px;
  }
}

@include vp-1199 {
  .contacts {
    padding: 100px 45px;
  }

  .contacts__map iframe {
    width: 100%;
  }
}

@include vp-767 {
  .contacts {
    padding: 67px 15px;
    flex-direction: column;
  }

  .contacts h2 {
    width: 100%;
    max-width: none;
    padding-bottom: 30px;
  }

  .contacts__list {
    width: 100%;
    max-width: none;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 30px;
  }

  .contacts__list dt {
    padding-bottom: 15px;
  }

  .contacts__item {
    width: 100%;
    max-width: none;
  }

  .contacts__map {
    margin-top: 30px;
  }
}
