.contacts {
  background-color: $color-cerulean-blue;
  padding: 122px 85px 120px 100px;

  h2 {
    @include text-h2--white;
    max-width: 45%;
  }
}

.contacts__container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__list {
  margin: -2px 0 40px;
  max-width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 51px;
  row-gap: 10px;

  dt {
    font-family: $font-regular;
    color: $color-alabaster;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    padding-bottom: 14px;
    opacity: 0.8;
  }

  dd {
    @include text-regular--white;
  }

  a {
    @include text-regular--white;
    width: 100%;
    display: block;
  }

  a:hover,
  a:focus-visible {
    outline: none;
    text-decoration: underline;
  }

  a:active {
    text-decoration: none;
    opacity: 0.8;
  }
}

.contacts__item {
  width: fit-content;
  max-width: 268px;
}

.contacts__map-container {
  margin: 34px auto 0;
  border-radius: 16px;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  transform: translateZ(0);

  &::before {
    position: absolute;
    content: "";
    top: -40px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.2;
    background-color: $color-default-white;
  }
}

.contacts__map {
  border-radius: 16px;
  width: 100%;
  height: 500px;
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

@include vp-1439 {
  .contacts__list {
    gap: 10px;
  }
}

@include vp-1199 {
  .contacts {
    padding: 100px 45px;
  }

  .contacts__list {
    width: 100%;
    max-width: none;
    padding-bottom: 26px;
    margin: 30px 0 30px;
    position: relative;
  }

  .contacts__list::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.2;
    background-color: $color-default-white;
  }

  .contacts__map-container {
    margin: 0;

    &::before {
      display: none;
    }
  }

  .contacts__list dt {
    padding-bottom: 18px;
  }
}

@include vp-767 {
  .contacts {
    padding: 67px 15px;
  }

  .contacts__container {
    flex-direction: column;
  }

  .contacts h2 {
    width: 100%;
    max-width: none;
    padding: 0;
  }

  .contacts__list {
    width: 100%;
    max-width: none;
    flex-direction: column;
    row-gap: 12px;
    margin: 30px 0;
  }

  .contacts__list dt {
    padding-bottom: 10px;
  }

  .contacts__item {
    width: 100%;
    max-width: none;
  }

  .contacts__map-container {
    height: 240px;
  }

  .contacts__map {
    height: 240px;
  }
}
