.custom-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;

  label {
    width: 100%;
    font-family: $font-regular;
    font-size: 14px;
    line-height: 14px;
    color: $color-alabaster;
    order: -1;
    opacity: 0.8;
  }

  input,
  textarea {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background: none;
    font-family: $font-regular;
    font-size: 14px;
    line-height: 14px;
    color: $color-alabaster;

    &:hover,
    &:focus-visible,
    &:active {
      outline: none;
      border: 1px solid $color-default-white;
    }
  }

  input:focus-visible + label,
  textarea:focus-visible + label {
    opacity: 1;
  }

  textarea {
    min-height: 98px;
  }

  label[for="city"] {
    margin-top: 4px;
  }

  label[for="checkbox"] {
    width: 100%;
    margin: 4px 0 0 10px;
    position: relative;
    font-size: 12px;
    line-height: 12px;
  }

  .custom-input__checkbox {
    opacity: 0;
    z-index: -1;
    position: absolute;
  }

  .custom-input__checkbox + label {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  .custom-input__checkbox + label::before {
    content: "";
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid $color-default-white;
    border-radius: 2px;
    opacity: 0.7;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px;
    left: -10px;
    cursor: pointer;
  }

  .custom-input__checkbox:checked + label {
    opacity: 1;
  }

  .custom-input__checkbox:disabled + label {
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 1;
  }

  .custom-input__checkbox:checked + label::before {
    background-image: url("../img/stack.svg#tick-blue");
    background-color: $color-default-white;
    opacity: 1;
  }

  .custom-input__checkbox:checked:hover + label::before,
  .custom-input__checkbox:checked:focus-visible + label::before {
    background-image: url("../img/stack.svg#tick-white");
    background-color: transparent;
    opacity: 1;
  }

  .custom-input__checkbox:checked:disabled + label {
    background-image: url("../img/stack.svg#tick-white");
    background-color: $color-mischka;
    opacity: 1;
  }

  &:hover,
  &:focus-visible,
  &:focus-within,
  &:active {
    outline: none;

    label,
    input,
    textarea {
      opacity: 1;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-wild-watermelon;
      background: rgba(255, 94, 102, 0.2);

      &:focus,
      &:hover {
        border: 1px solid $color-wild-watermelon;
      }
    }

    input[type="checkbox"] {
      opacity: 0;
    }

    label::before {
      background-image: none;
      border: 1px solid $color-wild-watermelon;
      background-color: rgba(255, 94, 102, 0.2);
    }
  }
}

.custom-input--light {
  input,
  textarea {
    border: 1px solid rgba(72, 72, 72, 0.3);
    color: $color-charcoal;

    &:hover,
    &:focus-visible,
    &:active {
      outline: none;
      border: 1px solid $color-charcoal;
    }
  }

  label {
    color: $color-charcoal;
  }

  label[for="checkbox-modal"] {
    font-size: 12px;
    line-height: 12px;
    padding: 4px 0 0 10px;
  }

  .custom-input__checkbox + label::before {
    border: 1px solid $color-charcoal;
    left: -10px;
  }

  .custom-input__checkbox:disabled + label {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .custom-input__checkbox:checked + label::before {
    background-image: url("../img/stack.svg#tick-white");
    background-color: $color-cerulean-blue;
  }

  .custom-input__checkbox:checked:hover + label::before,
  .custom-input__checkbox:checked:focus-visible + label::before {
    background-image: url("../img/stack.svg#tick-white");
    background-color: $color-cerulean-blue;
  }

  .custom-input__checkbox:checked:disabled + label {
    background-image: url("../img/stack.svg#tick-white");
    background-color: $color-mischka;
  }

  &.is-invalid {
    .custom-input__checkbox + label::before {
      border: 1px solid $color-wild-watermelon;
    }
  }
}

@include vp-767 {
  .custom-input label {
    font-size: 12px;
  }

  .custom-input label[for="checkbox"] {
    margin: 0 0 0 10px;
  }

  .custom-input {
    row-gap: 12px;
  }

  .custom-input input {
    padding: 14px 20px;
  }

  .custom-input textarea {
    min-height: 92px;
  }

  .custom-input--light label {
    font-size: 14px;
    line-height: 14px;
  }

  .custom-input--light label[for="checkbox-modal"] {
    padding: 0 0 0 10px;
    line-height: 14px;
  }

  .custom-input--light {
    row-gap: 10px;
  }
}
