.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;

  label {
    width: 100%;
    font-family: $font-regular;
    font-size: 14px;
    line-height: 14px;
    color: $color-alabaster;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 17px 20px;
    border: 1px solid $color-default-white;
    border-radius: 8px;
    background: none;
    font-family: $font-regular;
    font-size: 14px;
    line-height: 14px;
    color: $color-alabaster;
  }

  label[for=checkbox] {
    width: 290px;
    margin-left: 10px;
  }

  input[type=checkbox] {
    width: 20px;
    min-height: 20px;
  }

  &.is-invalid {

    input,
    textarea {
      border: 1px solid $color-wild-watermelon;
      background: rgba(255, 94, 102, 0.20);

      &:focus,
      &:hover {
        border: 1px solid $color-wild-watermelon;
      }
    }
  }
}
