.custom-select {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 4px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  select {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__label {
    font-family: $font-regular;
    font-size: 14px;
    line-height: 14px;
    color: $color-alabaster;
    order: -1;
    opacity: 0.8;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5px 20px 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: border 0.3s ease;

    &:hover {
      border: 1px solid $color-default-white;
    }

    &:focus-visible {
      border: 1px solid $color-default-white;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__list {
    position: absolute;
    bottom: -4px;
    z-index: 1;
    width: 100%;
    max-height: 194px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    list-style: none;
    background-color: $color-default-white;
    border: 1px solid $color-default-white;
    border-radius: 8px;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
  }

  &__item {
    font-family: $font-regular;
    font-size: 14px;
    line-height: 14px;
    color: $color-charcoal;
    padding: 17px 20px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &[aria-selected="true"] {
      background-color: $color-cerulean-blue;
      color: $color-default-white;
    }

    &:hover {
      color: $color-cerulean-blue;
    }

    &:focus-visible,
    &:active {
      background-color: $color-cerulean-blue;
      color: $color-default-white;
      outline: none;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    font-family: $font-regular;
    font-size: 14px;
    line-height: 14px;
    color: $color-alabaster;
    flex-shrink: 0;
    width: 80%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity 0.3s ease 0.1s;
  }

  &__icon {
    flex-shrink: 0;
    width: 16px;
    height: 8px;
    margin-left: auto;
    background-color: $color-default-white;
    transition: transform 0.3s ease;
    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  &:hover,
  &:focus-within,
  &:focus-visible {
    .custom-select__label {
      opacity: 1;
    }

    .custom-select__button {
      border: 1px solid $color-default-white;
    }
  }

  &.is-disabled {
    pointer-events: none;

    .custom-select__list {
      display: none;
    }
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 10px));
    }
  }

  &.is-open {
    opacity: 1;

    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__text {
      opacity: 1;
    }
  }

  &.is-invalid .custom-select__button {
    border: 1px solid $color-wild-watermelon;
    background: rgba(255, 94, 102, 0.2);
  }
}

.custom-select--light {
  margin: 0;

  .custom-select__label {
    color: $color-charcoal;
  }

  .custom-select__button {
    color: $color-charcoal;
    border: 1px solid rgba(72, 72, 72, 0.3);
  }

  &:hover,
  &:focus-within,
  &:focus-visible {
    .custom-select__button {
      border: 1px solid $color-charcoal;
    }
  }

  .custom-select__text {
    color: $color-charcoal;
  }

  .custom-select__icon {
    background-color: $color-charcoal;
  }
}

@include vp-767 {
  .custom-select {
    margin: 0;
  }

  .custom-select__label {
    font-size: 12px;
  }

  .custom-select--light {
    row-gap: 8px;
  }

  .custom-select--light .custom-select__label {
    font-size: 14px;
  }

  .custom-select__button {
    height: 44px;
  }
}
