.faq {
  padding: 0 206px 120px;

  h2 {
    @include text-h2;
    text-align: center;
    padding-bottom: 60px;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.faq__item {
  padding: 40px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;

  dt {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
      @include text-h4;
      max-width: 80%;
      display: block;
    }
  }

  dd {
    margin: 0;
    overflow: hidden;

    p {
      @include text-regular;
      display: block;
      padding-top: 20px;
      max-width: 80%;
    }
  }

}

.faq__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: $color-cerulean-blue;

  background-image: url("../img/stack.svg#plus");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;


  &:hover,
  &:focus-visible {
    outline: none;
    border: 1px solid $color-cerulean-blue;
    background-color: transparent;
    background-image: url("../img/stack.svg#plus-blue");
  }

  &:active {
    background-color: $color-endeavour;
  }

  &:disabled {
    background-color: $color-mischka;
  }
}

.faq__item.is-active {
  background-color: $color-cerulean-blue;

  dt {
    p {
      @include text-h4--white;
    }
  }

  dd {
    p {
      @include text-regular--white;
    }
  }

  .faq__btn {
    background-color: $color-default-white;
    background-image: url("../img/stack.svg#minus-blue");
  }

  .faq__btn:hover,
  .faq__btn:focus-visible {
    border: 1px solid $color-default-white;
    background-color: transparent;
    background-image: url("../img/stack.svg#minus");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }

  .faq__btn:active {
    border: none;
    background-color: $color-default-white;
    background-image: url("../img/stack.svg#minus-blue");
  }

  .faq__btn:disabled {
    background-color: $color-mischka;
  }
}

@include vp-1199 {
  .faq {
    padding: 100px 45px;
  }

  .faq h2 {
    padding-bottom: 40px;
  }
}

@include vp-767 {
  .faq {
    padding: 67px 15px;
  }

  .faq h2 {
    padding-bottom: 30px;
  }

  .faq__item {
    padding: 20px 15px;
  }
}
