.feedback {
  padding: 120px 100px 60px;

  h3 {
    @include text-h3--white;
    padding-bottom: 26px;
  }

  p {
    @include text-regular--white;
    padding-bottom: 20px;
  }
}

.feedback__background-wrapper {
  background-image: url("../img/feedback-desktop.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 16px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/feedback-desktop-@2x.jpg");
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback__wrapper {
  background-color: $color-cerulean-blue;
  border-radius: 16px;
  padding: 84px 74px 50px;
  max-width: 498px;
}

.feedback__btn {
  margin-top: 24px;
}

@include vp-1199 {
  .feedback {
    padding: 100px 45px 60px;
  }

  .feedback h3 {
    padding-bottom: 28px;
  }

  .feedback p {
    padding-bottom: 30px;
  }

  .feedback__wrapper {
    padding: 62px 45px 58px;
    max-width: 442px;
  }

  .feedback__background-wrapper {
    background-image: url("../img/feedback-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/feedback-tablet-@2x.jpg");
    }
  }

  .feedback__btn {
    margin-top: 22px;
  }
}

@include vp-767 {
  .feedback {
    padding: 67px 15px 29px;
  }

  .feedback h3 {
    padding-bottom: 18px;
  }

  .feedback p {
    padding-bottom: 26px;
  }

  .feedback__wrapper {
    padding: 50px 15px;
  }

  .feedback__form {
    gap: 25px;
  }

  .feedback__btn {
    margin-top: 10px;
  }
}
