.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 30px 100px;
}

.header__nav--no-js {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header__nav--no-js .header__nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
  max-width: 700px;
}

.header__nav--closed .header__nav-list {
  display: none;
}

.header__nav--opened .header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 32px 25px 35px;
  background-color: $color-cerulean-blue;
  row-gap: 24px;
  min-width: 286px;
  border-radius: 16px;
}

.header__nav--opened {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: absolute;
  right: 100px;
}

.header__nav-list-btn,
.header__nav-link {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $font-medium;
  color: $color-default-white;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  opacity: 0.7;
  cursor: pointer;
  border: none;
  background: transparent;
  text-align: start;

  &:hover,
  &:focus-visible,
  &:active {
    outline: none;
    opacity: 1;
  }
}

.header__nav-item.is-active p {
  opacity: 1;
}

.header__nav-item.is-active .header__nav-sub-list {
  margin: 18px 0 0;
}

.header__nav-sub-list {
  list-style-type: none;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 11px;

}

.header__nav-sub-link {
  display: block;
  margin: 0;
  font-family: $font-regular;
  color: $color-default-white;
  font-size: 16px;
  line-height: 16px;
  opacity: 0.6;

  &:hover,
  &:focus-visible,
  &:active {
    outline: none;
    opacity: 0.9;
  }
}

.header__nav-btn {
  display: block;
  position: relative;
  padding: 20px 68px 20px 20px;
  text-align: start;

  font-family: $font-medium;
  color: $color-cerulean-blue;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  font-size: 14px;
  line-height: 14px;

  background-color: $color-default-white;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    background-color: $color-cerulean-blue;
    background-image: url("../img/stack.svg#menu-white");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-cerulean-blue;
    color: $color-default-white;
    outline: none;
  }

  &:hover::before,
  &:focus-visible::before {
    background-image: url("../img/stack.svg#menu-blue");
    background-color: $color-default-white;
  }

  &:active {
    color: $color-default-white;
    background-color: $color-cerulean-blue;
  }

  &:active::before {
    background-color: $color-default-white;
    background-image: url("../img/stack.svg#menu-blue");
  }
}

.header__nav--opened .header__nav-btn {
  color: $color-default-white;
  background-color: $color-cerulean-blue;

  &::before {
    background-color: $color-default-white;
    background-image: url("../img/stack.svg#cross-default");
    background-size: 16px;
  }
}

.header__logo {
  background-color: $color-default-white;
  border-radius: 50%;
  padding: 10px;

  svg {
    display: block;
  }

  &:hover,
  &:focus-visible,
  &:active {
    outline: none;
    opacity: 0.7;
  }
}

@include vp-1199 {
  .header {
    padding: 30px 45px;
  }

  .header__nav--opened {
    right: 45px;
  }
}

@include vp-767 {
  .header {
    padding: 20px 15px;
  }

  .header__nav--opened {
    right: 15px;
    width: calc(100% - 30px);
  }
}
