.hero {
  width: 100%;

  h1 {
    @include text-h1;
    background-color: $color-default-white;
    border-radius: 0px 30px 30px 0px;
    padding: 40px 50px 30px;
    max-width: 968px;
  }

  p {
    @include text-regular;
    max-width: 446px;
  }
}

.hero__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: $color-default-white;
  border-radius: 0px 0px 30px 30px;
  padding: 0 50px 34px;
  max-width: 772px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    right: 0;
    top: 0;
    transform: translateX(100%) rotate(90deg);
    background-image: url('../img/svg/angle.svg');
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: left;
  }
}

.hero__btn {
  max-width: 196px;
}

.hero__slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: $overlay-photo;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
  height: auto;
  padding: 0 100px 60px;


  &--1 {
    background-image: url("../img/background-hero-desktop-1.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-hero-desktop-1@2x.jpg");
    }
  }

  &--2 {
    background-image: url("../img/background-hero-desktop-2.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-hero-desktop-2@2x.jpg");
    }
  }

  &--3 {
    background-image: url("../img/background-hero-desktop-3.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-hero-desktop-3@2x.jpg");
    }
  }
}

.hero__pagination {
  position: relative;
  background-color: $color-default-white;
  width: fit-content;
  padding: 14px 20px;
  border-radius: 20px 20px 0 0;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    background-image: url('../img/svg/angle.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid $color-cerulean-blue;
  }
}

.swiper-horizontal>.hero__pagination .swiper-pagination-bullet,
.swiper-pagination-horizontal.hero__pagination .swiper-pagination-bullet {
  margin: 0 6px;
}

@include vp-1199 {
  .hero h1 {
    padding: 30px 40px 24px;
    max-width: 659px;
  }

  .hero__slide {
    padding: 30px 45px;
  }

  .hero__description {
    max-width: 591px;
  }

  .hero__description p {
    max-width: 285px;
  }
}

@include vp-767 {
  .hero h1 {
    padding: 20px 14px;
    border-radius: 0px 16px 16px 0px;
  }

  .hero__pagination {
    padding: 10px 16px;
    border-radius: 12px 12px 0 0;
  }

  .hero__slide {
    padding: 74px 15px 20px;
    min-height: 568px;
  }

  .hero__description {
    padding: 0;
    background-color: transparent;

    &::before {
      display: none;
    }
  }

  .hero p {
    background-color: $color-default-white;
    padding: 0 14px 15px;
    max-width: 261px;
    border-radius: 0px 0px 14px 0px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      right: 0;
      top: 0;
      transform: translateX(100%) rotate(90deg);
      background-image: url('../img/svg/angle.svg');
      background-repeat: no-repeat;
      background-size: 10px;
      background-position: left;
    }
  }

  .hero__btn-wrapper {
    padding: 10px 15px;
    background-color: $color-default-white;
    border-radius: 0px 0px 14px 14px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      right: 0;
      top: 0;
      transform: translateX(100%) rotate(90deg);
      background-image: url('../img/svg/angle.svg');
      background-repeat: no-repeat;
      background-size: 10px;
      background-position: left;
    }
  }
}
