.news {
  padding: 124px 100px 122px;

  h2 {
    @include text-h2;
    text-align: center;
    padding-bottom: 44px;
  }
}

.news__container {
  max-width: 1440px;
  margin: 0 auto;
}

.news__btn {
  display: block;
  padding: 14px 26px;

  font-family: $font-medium;
  color: $color-cerulean-blue;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.6;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 1;
  }
}

.news__btn--active {
  border: 1px solid $color-cerulean-blue;
  opacity: 1;
}

.news__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding-bottom: 38px;
}

.news__btn--prev {
  @include pagination-prev;
}

.news__btn--next {
  @include pagination-next;
}

.news__slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.news__pagination {
  position: relative;
  top: auto;
  flex-grow: 1;

  span {
    font-family: $font-regular;
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
  }

  span:hover,
  span:focus-visible {
    outline: 1px solid $color-cerulean-blue;
    color: $color-cerulean-blue;
    background-color: transparent;
  }

  span:active {
    background-color: $color-endeavour;
    color: $color-default-white;
    opacity: 1;
  }
}

.news__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.news__item {
  height: auto;
  width: auto;
  display: grid;
  border-radius: 12px;
  overflow-x: hidden;

  picture {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  p {
    @include text-xsmall;
    display: block;
    max-width: 176px;
  }

  h3 {
    @include text-h5;
    background-color: $color-alabaster;
    width: fit-content;
    min-width: 204px;
    padding: 10px 10px 0 0;
    border-radius: 0 12px 0 0;
    position: relative;
    bottom: -0.5px;
    max-width: 214px;

    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      right: 0.6px;
      bottom: 0;
      transform: translateX(100%);
      background-image: url("../img/svg/angle-beige.svg");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: left;
    }
  }
}

.news__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: $color-alabaster;
}

.news__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;

  span {
    background-color: $color-alabaster;
    font-family: $font-regular;
    color: $color-cerulean-blue;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    padding: 12px 12px 0 0;
    border-radius: 0 12px 0 0;
    position: relative;
    bottom: -1.1px;

    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      right: 0.7px;
      bottom: 0;
      transform: translateX(100%);
      background-image: url("../img/svg/angle-beige.svg");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: left;
    }

    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      left: 0;
      top: 0.8px;
      transform: translateY(-100%);
      background-image: url("../img/svg/angle-beige.svg");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: left;
    }
  }
}

.news__link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  background-color: $color-alabaster;
  width: fit-content;
  padding: 12px 18px 15px 0;
  border-radius: 0 12px 0 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    right: 0.6px;
    bottom: 0;
    transform: translateX(100%);
    background-image: url("../img/svg/angle-beige.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left;
  }
}

.news__item--main p {
  max-width: 325px;
}

.news__item--main h3 {
  max-width: 291px;
}

.news__link {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-cerulean-blue;
  background-image: url("../img/stack.svg#arrow-white");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;

  &:hover,
  &:focus-visible {
    background-image: url("../img/stack.svg#arrow-blue");
    background-color: $color-default-white;
    transform: rotate(45deg);
    top: 0;
    left: 0;
    outline: none;
  }

  &:active {
    background-image: url("../img/stack.svg#arrow-blue");
    background-color: $color-default-white;
    transform: rotate(45deg);
    top: 0;
    left: 0;
    opacity: 0.7;
  }

  &:disabled {
    background-color: $color-mischka;
    background-image: url("../img/stack.svg#arrow-white");
  }
}

@include vp-1439 {
  .news__item--main h3 {
    max-width: 190px;
  }

  .news__item--main p {
    max-width: 200px;
  }
}

@include vp-1199 {
  .news {
    padding: 100px 45px 107px;
  }

  .news h2 {
    padding-bottom: 29px;
  }

  .news__filters {
    gap: 5px;
    padding-bottom: 30px;
  }

  .news__info span {
    bottom: -1.2px;
  }

  .news__item h3 {
    max-width: 207px;
    padding: 10px 18px 0 0;
    bottom: -0.7px;
  }

  .news__link-wrapper {
    padding: 6px 18px 15px 0;
  }

  .news__item--main p {
    max-width: 176px;
  }

  .news__btn {
    padding: 12px 22px;
  }

  .news__slider-navigation {
    margin-top: 30px;
  }
}

@include vp-767 {
  .news {
    padding: 67px 15px;
  }

  .news h2 {
    padding-bottom: 24px;
  }

  .news__filters {
    flex-wrap: nowrap;
    gap: 12px;
    justify-content: flex-start;
    overflow-x: scroll;
    padding-bottom: 24px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .news__btn {
    padding: 10px 14px;
    font-size: 12px;
  }

  .news__link-wrapper {
    column-gap: 10px;
    padding: 6px 10px 10px 0;
  }

  .news__item--main p {
    max-width: 213px;
  }

  .news__slider-navigation {
    margin-top: 24px;
  }

  .news__pagination span {
    font-size: 14px;
    padding: 3px;
  }

  .news__item {
    min-height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-alabaster;
    width: 100%;
    height: 100%;

    &--1 {
      background-image: url("../img/news-1-mobile.png");
      background-position: top;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/news-1-mobile@2x.png");
      }
    }

    &--2 {
      background-image: url("../img/news-2-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/news-2-mobile@2x.jpg");
      }
    }

    &--3 {
      background-image: url("../img/news-3-mobile.png");
      background-position: top;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/news-3-mobile@2x.png");
      }
    }

    &--4 {
      background-image: url("../img/news-4-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/news-4-mobile@2x.jpg");
      }
    }
  }

  .news__item--main {
    min-height: 330px;
  }

  .news__picture {
    display: none;
  }
}
