.programs {
  padding: 0 85px 120px 100px;

  h2 {
    @include text-h2;
    max-width: 50%;
    padding-bottom: 50px;
  }
}

.programs__btn {
  max-width: 50%;
}

.programs__slider {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.programs__slide {
  position: relative;
  display: grid;
  height: auto;
  border-radius: 12px;
  overflow-x: hidden;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: $overlay-photo;
    top: 0;
    left: 0;
  }

  picture {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.programs__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  margin: 0 51px 20px 20px;

  h3 {
    @include text-h5;
    background-color: $color-default-white;
    padding: 18px 18px 0;
    min-width: 194px;
    width: fit-content;
    border-radius: 12px 12px 0 0;
    position: relative;
    bottom: -0.8px;

    &::before {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      right: 0.7px;
      bottom: 0;
      transform: translateX(100%);
      background-image: url("../img/svg/angle.svg");
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: left;
    }
  }

  p {
    @include text-xsmall;
    max-width: 80%;
  }
}

.programs__picture {
  object-fit: cover;
  background-color: $color-alabaster;
  width: 100%;
}

.programs__link-wrapper {
  background-color: $color-default-white;
  padding: 12px 18px 15px;
  border-radius: 0 12px 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
  min-height: 79px;
}

.programs__link {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-cerulean-blue;
  background-image: url("../img/stack.svg#arrow-white");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;

  &:hover,
  &:focus-visible {
    background-image: url("../img/stack.svg#arrow-blue");
    background-color: $color-default-white;
    transform: rotate(45deg);
    top: 0;
    left: 0;
    outline: none;
  }

  &:active {
    background-image: url("../img/stack.svg#arrow-blue");
    background-color: $color-default-white;
    transform: rotate(45deg);
    top: 0;
    left: 0;
    opacity: 0.7;
  }

  &:disabled {
    background-color: $color-mischka;
    background-image: url("../img/stack.svg#arrow-white");
  }
}

.programs__slider-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 52px;
  margin-top: 40px;
}

.programs__btn--prev {
  @include pagination-prev;
}

.programs__btn--next {
  @include pagination-next;
}

.programs__btn-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 54px;
  height: 22px;
}

.programs__pagination {
  position: relative;
  top: auto;
  flex-grow: 1;
}

@include vp-1199 {
  .programs {
    padding: 0 0 100px 45px;
  }

  .programs h2 {
    padding-bottom: 42px;
  }

  .programs__slide {
    min-height: 324px;
  }

  .programs__btn,
  .programs__btn-wrapper {
    margin-right: 45px;
  }

  .programs__wrapper {
    margin: 20px 41px 20px 20px;
  }

  .programs__wrapper h3 {
    padding: 10px 10px 0 18px;
    min-width: 173px;
  }

  .programs__link-wrapper {
    padding: 0 18px;
  }
}

@include vp-767 {
  .programs {
    padding: 0 15px 69px;
    position: relative;
  }

  .programs h2 {
    order: -2;
    max-width: 50%;
    padding-bottom: 30px;
  }

  .programs__btn {
    order: 1;
    max-width: 100%;
    margin-top: 30px;
    margin-right: 0;
    column-gap: 7px;
    padding: 14px 68px 14px 30px;
  }

  .programs__pagination {
    display: none;
  }

  .programs__btn-wrapper {
    order: -1;
    column-gap: 7px;
  }

  .programs__slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programs__slider-navigation {
    margin: 0;
    order: -1;
    max-width: 52px;
    margin-left: auto;
  }

  .programs__wrapper {
    margin: 18px 10px;
  }
}
