.programs {
  padding: 0 100px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  h2 {
    @include text-h2;
    max-width: 50%;
    padding-bottom: 40px;
  }
}

.programs__btn {
  max-width: 50%;
}

.programs__slider {
  width: 100%;
}

.programs__slide {
  position: relative;
  display: grid;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $overlay-photo;
    top: 0;
    left: 0;
  }

  picture {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.programs__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  margin: 0 51px 20px 20px;

  h3 {
    @include text-h3;
    background-color: $color-default-white;
    padding: 18px 18px 0;
    width: fit-content;
    border-radius: 12px 12px 0px 0px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      right: 0;
      bottom: 0;
      transform: translateX(100%);
      background-image: url('../img/svg/angle.svg');
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: left;
    }
  }

  p {
    @include text-xsmall;
    background-color: $color-default-white;
    padding: 12px 18px 15px;
    border-radius: 0px 12px 12px 12px;
  }
}

.programs__slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 52px;
  margin-top: 40px;
}

.programs__btn--prev {
  @include pagination-prev;
}

.programs__btn--next {
  @include pagination-next;
}

.programs__btn-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 54px;
  height: 22px;
}

.programs__pagination {
  position: relative;
  top: auto;
  flex-grow: 1;
}
