.reviews {
  padding: 122px 100px 120px;

  h2 {
    @include text-h2;
    padding-bottom: 44px;
  }
}

.reviews__slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px 46px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;
  height: auto;
  min-width: 604px;

  h3 {
    @include text-medium;
  }

  b {
    @include text-h5;
    width: 100%;
    margin: 26px 0 14px;
  }

  p {
    @include text-regular;
    width: 100%;
  }
}

.reviews__user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 300px;

  img {
    border-radius: 50%;
  }
}

.reviews__info {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  max-width: 55%;

  dt {
    @include text-caption;
    padding-bottom: 6px;
  }

  dd {
    @include text-xsmall;
  }
}

.reviews__slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 52px;
  margin-top: 40px;
}

.reviews__btn--prev {
  @include pagination-prev;
}

.reviews__btn--next {
  @include pagination-next;
}

.reviews__btn-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 54px;
  height: 22px;
}

.reviews__pagination {
  position: relative;
  top: auto;
  flex-grow: 1;
}

@include vp-1199 {
  .reviews {
    padding: 102px 0 102px 45px;
  }

  .reviews h2 {
    padding: 0 45px 42px 0;
  }

  .reviews__btn-wrapper {
    margin-right: 45px;
  }

  .reviews__slide {
    min-width: 0;
  }
}

@include vp-767 {
  .reviews {
    padding: 0 15px 67px;
  }

  .reviews__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .reviews h2 {
    padding: 0 0 32px 0;
    max-width: 50%;
    order: -1;
  }

  .reviews__slide {
    padding: 30px 13px 28px 15px;
  }

  .reviews__slide b {
    margin: 25px 0 12px;
  }

  .reviews__user-info {
    max-width: none;
    width: 100%;
    gap: 10px;
  }

  .reviews__user-info img {
    width: 60px;
    height: 60px;
  }

  .reviews__info {
    width: 100%;
    max-width: none;
    gap: 25px;
    padding-top: 15px;
  }

  .reviews__info dd {
    opacity: 0.9;
  }

  .reviews__btn-wrapper {
    margin-right: 0;
  }

  .reviews__slider-navigation {
    margin: 0;
    order: -1;
  }

  .reviews__pagination {
    display: none;
  }
}
