.rules {
  background-color: $color-cerulean-blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 138px;
  padding: 120px 210px 108px 100px;

  h2 {
    @include text-h2--white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: 30px;
  }

  p {
    @include text-regular--white;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  h3 {
    @include text-h3--white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 500px;
    padding: 10px 0 0;
  }

  picture {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  img {
    margin-top: 33px;
    border-radius: 16px;
    object-fit: cover;
  }
}

.rules__list {
  margin: 50px 0 0 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 23px;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.rules__item {
  position: relative;
  padding: 25px 25px 20px;
  border: 1px solid $color-alabaster;
  border-radius: 16px;
  width: 100%;
  list-style-type: none;

  span {
    font-size: 22px;
    position: absolute;
    padding: 10px;
    border-radius: 30px;
    background-color: $color-cerulean-blue;
    top: -18px;
    left: -28px;
    transform: translateX(50%);
  }
}

@include vp-1199 {
  .rules {
    display: flex;
    flex-direction: column;
    padding: 100px 45px;
  }

  .rules h2 {
    padding-bottom: 28px;
  }

  .rules p {
    padding-bottom: 0;
  }

  .rules img {
    width: 100%;
    margin-bottom: 40px;
  }

  .rules h3 {
    padding: 6px 0 42px;
    max-width: none;
  }

  .rules__list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 47px;
    row-gap: 25px;
    margin: 0;
    padding-left: 20px;
  }

  .rules__item {
    max-width: 46.4%;
    padding: 22px 25px 30px;
  }

  .rules__item span {
    top: -16px;
    left: -31px;
  }
}

@include vp-767 {
  .rules {
    padding: 67px 15px;
  }

  .rules h2 {
    padding-bottom: 15px;
  }

  .rules p {
    padding-bottom: 30px;
  }

  .rules picture {
    padding-bottom: 30px;
  }

  .rules h3 {
    padding-bottom: 15px;
  }

  .rules__item {
    width: 100%;
    max-width: none;
    padding: 24px 25px;
  }

  .rules__item p {
    padding: 0;
  }
}
