.site-navigation {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 700px;

  a {
    @include text-regular;
  }

  a:hover,
  a:focus-visible {
    color: $color-cerulean-blue;
  }

  a:active {
    color: $color-endeavour;
  }
}

@include vp-1199 {
  .site-navigation {
    width: 528px;
    column-gap: 15px;
  }
}

@include vp-767 {
  .site-navigation {
    justify-content: center;
    width: 100%;
  }
}
