.site-navigation {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin: 0 0 0 -234px;
  padding: 0;
  align-items: center;
  width: 700px;

  a {
    @include text-regular;
  }

  a:hover,
  a:focus-visible {
    color: $color-cerulean-blue;
    outline: none;
  }

  a:active {
    color: $color-endeavour;
  }
}

@include vp-1439 {
  .site-navigation {
    margin: 0;
  }
}

@include vp-1199 {
  .site-navigation {
    width: 528px;
    column-gap: 15px;
    margin: 0;
  }
}

@include vp-767 {
  .site-navigation {
    justify-content: center;
    width: 100%;
    margin: 0;
    column-gap: 30px;
    row-gap: 4px;
  }
}
