@mixin retina {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

@mixin text-h1 {
  font-family: $font-regular;
  color: $color-cerulean-blue;
  font-size: 54px;
  line-height: 62px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 36px;
    line-height: 44px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 22px;
    line-height: 26px;
  }
}

@mixin text-h2 {
  font-family: $font-regular;
  color: $color-cerulean-blue;
  font-size: 50px;
  line-height: 50px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 34px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 20px;
    line-height: 20px;
  }
}

@mixin text-h2--white {
  font-family: $font-regular;
  color: $color-default-white;
  font-size: 50px;
  line-height: 50px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 34px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 20px;
    line-height: 20px;
  }
}

@mixin text-h3 {
  font-family: $font-regular;
  color: $color-cerulean-blue;
  font-size: 32px;
  line-height: 36px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 18px;
    line-height: 22px;
  }
}

@mixin text-h3--white {
  font-family: $font-regular;
  color: $color-default-white;
  font-size: 32px;
  line-height: 36px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 18px;
    line-height: 22px;
  }
}

@mixin text-h4 {
  font-family: $font-regular;
  color: $color-cerulean-blue;
  font-size: 28px;
  line-height: 34px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 22px;
    line-height: 26px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 16px;
    line-height: 18px;
  }
}

@mixin text-h4--white {
  font-family: $font-regular;
  color: $color-default-white;
  font-size: 28px;
  line-height: 34px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 22px;
    line-height: 26px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 16px;
    line-height: 18px;
  }
}

@mixin text-big {
  font-family: $font-regular;
  color: $color-charcoal;
  font-size: 22px;
  line-height: 32px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 16px;
    line-height: 222px;
  }
}

@mixin text-regular {
  font-family: $font-regular;
  color: $color-charcoal;
  font-size: 16px;
  line-height: 26px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    line-height: 20px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin text-regular--white {
  font-family: $font-regular;
  color: $color-alabaster;
  font-size: 16px;
  line-height: 26px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    line-height: 20px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin text-small--white {
  font-family: $font-regular;
  color: $color-alabaster;
  font-size: 16px;
  line-height: 20px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    font-size: 14px;
  }
}

@mixin text-xsmall {
  font-family: $font-regular;
  color: $color-charcoal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  @media (max-width: ($vp-1200 - 1px)) {
    line-height: 20px;
  }
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
