// Desktop first

@mixin vp-1199 {
  @media (max-width: $vp-1199) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: $vp-1439) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: $vp-1279) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: $vp-767) {
    @content;
  }
}

@mixin text-h1 {
  font-family: $font-light;
  color: $color-cerulean-blue;
  font-size: 54px;
  line-height: 62px;
  letter-spacing: 0.5px;
  margin: 0;

  @media (max-width: $vp-1199) {
    font-size: 36px;
    line-height: 44px;
  }

  @media (max-width: $vp-767) {
    font-size: 22px;
    line-height: 26px;
  }
}

@mixin text-h2 {
  font-family: $font-light;
  color: $color-cerulean-blue;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  letter-spacing: 0.5px;

  @media (max-width: $vp-1199) {
    font-size: 34px;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 20px;
  }
}

@mixin text-h2--white {
  font-family: $font-light;
  color: $color-default-white;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  letter-spacing: 0.5px;

  @media (max-width: $vp-1199) {
    font-size: 34px;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 20px;
  }
}

@mixin text-h3 {
  font-family: $font-light;
  color: $color-cerulean-blue;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
  letter-spacing: 0.5px;

  @media (max-width: $vp-1199) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (max-width: $vp-767) {
    font-size: 18px;
    line-height: 22px;
  }
}

@mixin text-h3--white {
  font-family: $font-light;
  color: $color-default-white;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
  letter-spacing: 0.2px;

  @media (max-width: $vp-1199) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (max-width: $vp-767) {
    font-size: 18px;
    line-height: 22px;
  }
}

@mixin text-h4 {
  font-family: $font-regular;
  color: $color-cerulean-blue;
  font-size: 28px;
  line-height: 34px;
  margin: 0;

  @media (max-width: $vp-1199) {
    font-size: 22px;
    line-height: 26px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 18px;
  }
}

@mixin text-h4--white {
  font-family: $font-regular;
  color: $color-default-white;
  font-size: 28px;
  line-height: 34px;
  margin: 0;

  @media (max-width: $vp-1199) {
    font-size: 22px;
    line-height: 26px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 18px;
  }
}

@mixin text-h5 {
  font-family: $font-regular;
  color: $color-cerulean-blue;
  font-size: 24px;
  line-height: 26px;
  margin: 0;

  @media (max-width: $vp-1199) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 18px;
  }
}

@mixin text-big {
  font-family: $font-regular;
  color: $color-charcoal;
  font-size: 22px;
  line-height: 32px;
  margin: 0;

  @media (max-width: $vp-1199) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 22px;
  }
}

@mixin text-medium {
  font-family: $font-regular;
  color: $color-cerulean-blue;
  font-size: 18px;
  line-height: 24px;
  margin: 0;

  @media (max-width: $vp-1199) {
    font-size: 20px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 18px;
  }
}

@mixin text-regular {
  font-family: $font-regular;
  color: $color-charcoal;
  font-size: 16px;
  line-height: 26px;
  margin: 0;

  @media (max-width: $vp-1199) {
    line-height: 20px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin text-regular--white {
  font-family: $font-regular;
  color: $color-alabaster;
  font-size: 16px;
  line-height: 26px;
  margin: 0;

  @media (max-width: $vp-1199) {
    line-height: 20px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin text-small--white {
  font-family: $font-regular;
  color: $color-alabaster;
  font-size: 16px;
  line-height: 20px;
  margin: 0;

  @media (max-width: $vp-1199) {
    font-size: 14px;
  }
}

@mixin text-xsmall {
  font-family: $font-regular;
  color: $color-charcoal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  @media (max-width: $vp-1199) {
    line-height: 20px;
  }

  @media (max-width: $vp-767) {
    font-size: 12px;
    line-height: 14px;
  }
}

@mixin text-xxsmall {
  font-family: $font-regular;
  color: $color-charcoal;
  font-size: 12px;
  line-height: 12px;
  margin: 0;

  @media (max-width: $vp-767) {
    line-height: 14px;
  }
}

@mixin text-caption {
  font-family: $font-regular;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: $color-cerulean-blue;
}

@mixin pagination-prev {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  right: auto;
  left: auto;
  top: auto;
  width: 22px;
  height: 22px;
  margin: 0;

  &::after {
    content: "";
    background-image: url("../img/stack.svg#arrow-blue");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    transform: rotate(225deg);
    width: 10px;
    height: 10px;
  }

  &:hover,
  &:focus-visible,
  &:active {
    outline: none;
    background-color: $color-default-white;
  }

  &:active::after {
    opacity: 0.7;
  }

  &:disabled::after {
    background-image: url("../img/stack.svg#arrow-gray");
  }
}

@mixin pagination-next {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  right: auto;
  left: auto;
  top: auto;
  width: 22px;
  height: 22px;
  margin: 0;

  &::after {
    content: "";
    background-image: url("../img/stack.svg#arrow-blue");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
  }

  &:hover,
  &:focus-visible,
  &:active {
    outline: none;
    background-color: $color-default-white;
  }

  &:active::after {
    opacity: 0.7;
  }

  &:disabled::after {
    background-image: url("../img/stack.svg#arrow-gray");
  }
}
